<div class="m-3 border rounded menu">
	<div class="m-1 pl-3 border rounded menu_title">
		分類清單
	</div>
	<div class="m-1">
		<div class="list-group">
			<a href="#" class="list-group-item list-group-item-action">最新消息</a>
			<a href="#" class="list-group-item list-group-item-action">本系介紹</a>
			<a href="#" class="list-group-item list-group-item-action">師資陣容</a>
			<a href="#" class="list-group-item list-group-item-action">課程規劃</a>
			<a href="#" class="list-group-item list-group-item-action">學生資源</a>
			<a href="#" class="list-group-item list-group-item-action">招生資訊</a>
			<a href="#" class="list-group-item list-group-item-action">榮譽榜單</a>
			<a href="#" class="list-group-item list-group-item-action">FAQ</a>
			<a href="#" class="list-group-item list-group-item-action">其他資源</a>
		</div>
	</div>
	<div class="m-1 pl-3 border rounded menu_title">
		登入
	</div>
	<div class="m-1">
		登入<br>
		<input type="text">
		密碼<br>
		<input type="text">
		<button>登入</button>
		<a class="mg-auto" href="#">忘記密碼</a>
	</div>
</div>